body {
  background-color: #7D5BD4;
  font-family: 'Poppins', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  color: white;
  padding: 50px;
}
a {
  display: block;
}

h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

p {
  font-size: 30px;
}

button {
  background-color: white;
  padding: 10px 30px;
  color: hsl(257, 40%, 49%);
  border: none;
  outline: none;
  border-radius: 30px;
  width: 150px;
  height: 45px
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: hsl(300, 69%, 71%);
}

.icons {
  margin: 20px;
  font-size: 30px;
}

.icons:hover {
  color: hsl(300, 69%, 71%);
  cursor: pointer;
}

#social {
  position: relative;
  top: 100px;
}

#illustration {
  float: right;
}

#box {
  margin-top: 50px;
}

#abstract {
  margin-left: 20px;
}
